#homeLink {
    color: black;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

p, h1, h3, h5 {
    font-family: Lora;
}

#mc_embed_signup {
    max-width: 400px;
}

.mc-field-group {
    padding: 5px;
}

.clear {
    text-align: center;
    padding: 5px;
}

ul {
    line-height: 1.5;
}
